{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Peoples</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/cr7.jpg" alt="product image">
            </div>
            <div class="itemname">CRISTIANO RONALDO</div>
            <div class="itemprice">FOUNDER </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/nr.jpg"  alt="product image">
            </div>
            <div class="itemname">NEYMER</div>
            <div class="itemprice">CEO </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/m10.jpg"  alt="product image">
            </div>
            <div class="itemname">MESSI</div>
            <div class="itemprice">MANAGER </div>
        </div>
        
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/jd.jpg" alt="product image">
            </div>
            <div class="itemname">JONNY DEEP</div>
            <div class="itemprice">ASSITANT MANAGER </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/r45.jpg" alt="product image">
            </div>
            <div class="itemname">ROHIT SHARMA</div>
            <div class="itemprice">SUPERVISOR </div>
        </div>
  
      
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/v18.jpg" alt="product image">
            </div>
            <div class="itemname">VIRAT KOLHI</div>
            <div class="itemprice">ASSITANT SUPERVISOR </div>
        </div>
    </div>
    </div>
{% endblock  %}